/* Reset básico para remover margens e preenchimentos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}
.avatar-container {
    text-align: center;
    margin-top: 20px;
}
.avatar {
    width: 150px;
    height: auto;
    border-radius: 50%;
    animation: wave 5s infinite; /* Animação de aceno */
}

@keyframes wave {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(20deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-20deg); }
    100% { transform: rotate(0deg); }
}

body {
    background-color: #121212;
    color: #e0e0e0;
    line-height: 1.6;
    padding: 20px;
}

header {
    background: #1f1f1f;
    color: #0099ff;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px rgba(163, 102, 233, 0.5);
}

header h1 {
    font-size: 24px;
    margin-bottom: 5px;
}

header p, header a {
    font-size: 16px;
    color: #0099ff;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
    color: #0099ff;
}

section {
    background: #1f1f1f;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(163, 102, 233, 0.5);
}

h2 {
    border-bottom: 2px solid #0099ff;
    padding-bottom: 5px;
    margin-bottom: 15px;
    color: #00aaff;
}

ul {
    list-style-type: none;
}

ul li {
    background: #0099ff;
    color: #121212;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 4px;
    font-weight: bold;
}

p {
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    body {
        padding: 10px;
    }
    header h1 {
        font-size: 20px;
    }
    header p {
        font-size: 14px;
    }
    h2 {
        font-size: 18px;
    }
}
.download-link {
    display: inline-block;
    background-color: #00aaff;
    color: #121212;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s, color 0.3s;
}

.download-link:hover {
    background-color: #00aaff;
    color: #ffffff;
}
.social-buttons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.social-button {
    display: inline-block;
    background-color: #00aaff;
    color: #121212;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s, color 0.3s;
}

.social-button:hover {
    background-color: #00aaff;
    color: #ffffff;
}
